{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>{{ page }}</p>

    {% if number > 10 %}
        <p>Number is greater than 10</p>
    {% else %}
         <p>Number is less than 10</p>
    {% endif %}
    <h1>Projects</h1>

    <table>
        <tr>
            <th>ID</th> 
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes</th> 
            <th></th>  
        </tr>  
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.vote_ratio }}%</td>
                <td>{{ project.vote_total }}</td>
                <td>{{ project.created }}</td>
                <td><a href="{% url 'project' project.id %}">View</a></td>
            </tr>

        {% endfor %}
    </table>

</body>
</html>

{% endblock content %}